.jumbotron {
    background: none;
    color: $primary;

    .highlight {
        color: $ice;
        text-decoration: none;

        &:hover {
            color: $freshwater;
        }
    
        &:focus {
            color: $freshwater;
        }
    
        &:active {
            color: $freshwater;
        }
    }

    h1 {
        font-size: 2.5rem;
    }
    
    @include media-breakpoint-up(sm) {
        h1 {
            font-size: 2.8rem;
        }
    }
    
    @include media-breakpoint-up(md) {
        h1 {
            font-size: 3.2rem;
        }
    }
    
    @include media-breakpoint-up(lg) {
        h1 {
            font-size: 3.5rem;
        }
    }
}